server {
    listen 80;
    listen [::]:80;
    server_name {{ app_server_name }};

    root {{ app_site_root }};
    index {{ app_index_file }};

    location / {
        try_files $uri $uri/ =404;
    }
}
